doctype html
html
  head
    title Manthan-dance-Acedemy
    block scripts
    block style
    body 
      <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="../static/img/logo.png" alt="logo1">
                | <p style="color: black; margin-right: 46px;">MD</p>
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/email">Email</a></li>
            <li><a href="/services">Services</a></li>
        </ul>
    </nav>
    block content
    block foot
    <footer id="footer">
      | Copyrights © 2021 Manthan_Dance_Acedemy.com | All rights Reserved.
    </footer>