extends base.pug
block scripts  
    script(src="/static/index.js") 
block style 
    style 
        include ../static/style.css
block content
    <section id="intoSection" class="box">
        <div>
            | Welcome to the manthan dance acedemy.
        </div>
        <div class="small">
            | Eat sleep dance repeat.
        </div>
    </section>
    <section id="mission">
        <h2>Our mission</h2>
        <div class="card">
            <h3>Dance Perfection</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/img/1.png" alt="imge1">
                </div>
                <div class="card-content">
                    <p>This is the best dance Acedemy.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Dance the way you like</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/img/2.png" alt="imge1">
                </div>
                <div class="card-content">
                    <p>This is the best dance Acedemy.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Expert Teaching</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/img/3.png" alt="imge1">
                </div>
                <div class="card-content">
                    <p>This is the best dance Acedemy.</p>
                </div>
            </div>
        </div>

    </section>
    <section id="sponsorsSection">
        | <h3>Ours Sponsors.</h3>
        <div id="sponsors">
            <div class="spImages">
                <img src="/static/img/logo1.png" alt="spImges">
            </div>
            <div class="spImages">
                <img src="/static/img/logo2.png" alt="spImges">
            </div>
            <div class="spImages">
                <img src="/static/img/logo3.png" alt="spImges">
            </div>
            <div class="spImages">
                <img src="/static/img/logo4.png" alt="spImges">
            </div>
        </div>
    </section>