<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Websites</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="../static/img/logo.png" alt="logo1">
                | <p style="color: black; margin-right: 46px;">MD</p>
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="/email">Email</a></li>
            <li><a href="/services">Services</a></li>
        </ul>
    </nav>
    <section id="intoSection" class="box">
        <div>
            | Welcome to the manthan dance acedemy.
        </div>
        <div class="small">
            | Eat sleep dance repeat.
        </div>
    </section>
    <section id="mission">
        <h2>Our mission</h2>
        <div class="card">
            <h3>Dance Perfection</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/img/1.png" alt="imge1">
                </div>
                <div class="card-content">
                    <p>This is the best dance Acedemy.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Dance the way you like</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/img/2.png" alt="imge1">
                </div>
                <div class="card-content">
                    <p>This is the best dance Acedemy.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Expert Teaching</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/img/3.png" alt="imge1">
                </div>
                <div class="card-content">
                    <p>This is the best dance Acedemy.</p>
                </div>
            </div>
        </div>

    </section>
    <section id="sponsorsSection">
        | <h3>Ours Sponsors.</h3>
        <div id="sponsors">
            <div class="spImages">
                <img src="/static/img/logo1.png" alt="spImges">
            </div>
            <div class="spImages">
                <img src="/static/img/logo2.png" alt="spImges">
            </div>
            <div class="spImages">
                <img src="/static/img/logo3.png" alt="spImges">
            </div>
            <div class="spImages">
                <img src="/static/img/logo4.png" alt="spImges">
            </div>
        </div>
    </section>
    <footer id="footer">
        | Copyrights © 2021 Manthan_Dance_Acedemy.com | All rights Reserved.
    </footer>
    script
    include ../static/index.js
</body>

</html>